.container {
  display: flex;
  flex-direction: column;
  padding: 10px 6px;
  box-sizing: border-box;

  .row {
    display: flex;

    &:first-of-type {
      margin-bottom: 5px;
    }

    .left {
      width: 40%;
    }
    .right {
      width: 60%;
    }
  }
}
.container .row {
  display: flex;
}
.container .row.top {
  justify-content: flex-end;
}
.container .row.bottom {
  justify-content: space-between;
}
.container .up {
  color: red;
}

.container .down {
  color: #43ff81;
}
.container .equal {
  color: #c0c0c0;
}
.price {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  font-weight: 600;
  /* line-height: 64px; */
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
}

.quote-info {
  color: white;
  display: flex;
  align-items: center;
  .title {
    color: white;
    font-size: 1rem;
    margin-bottom: 3px;
  }

  .value {
    font-size: 1.3rem;
    font-weight: 300;
  }
}

.up-down {
  font-size: 35px;
  line-height: 50px;
  font-weight: 600;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.up-down-diff .down {
  transform: rotate(0.5turn);
}
.up-down-diff {
  position: relative;
  margin-left: 10px;
  font-size: 35px;
  font-weight: 600;
}
.upDownDisplay {
  margin-left: 5px;
}
