.stock-item {
  color: white;
  position: absolute;
  top: 0;
  right: -674px;
  background: black;
  display: inline-block;
  height: 128px;
  width: 674px;
  text-decoration: none;
  list-style: none;
}
.stocks-container {
  background: #111;
  height: 128px;
  /* width: 1280px; */
  overflow: hidden;
  position: relative;
}
.stock-item-wrap {
  display: flex;
}
.stock-title-box {
  height: 100%;
  line-height: 128px;
  display: flex;
  width: 239px;
  flex-direction: column;
  font-size: 75px;
  font-weight: 700;
  color: white;
}
.stock-title-box.oversize {
  font-size: 50px;
  line-height: 1.2;
  text-align: left;
  padding-left: 10px;
  padding-top: 10px;
}
.stock-no {
  font-size: 25px;
  line-height: 25px;
  font-weight: 600;
  text-align: left;
  color: white;
  margin-bottom: 10px;
}
.stock-boxes {
  position: absolute;
  width: 4400px;
  padding: 0;
  margin: 0;
  text-align: start;
  animation: marquee 20s linear infinite;
}
.stock-data {
  height: 128px;
  display: flex;
  flex-direction: column;
  margin: 0 0 0 20px;
}
.price-and-num {
  display: flex;
}
.change-num,
.price-and-num {
  flex: 1;
  line-height: 64px;
  font-size: 35px;
  font-weight: 600;
}
.stock-price {
  margin-right: 40px;
}
.pic-box {
  margin: 15px 0;
  width: 135px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border-bottom: 1px solid #777;  */
}

.green-words {
  color: rgb(66, 213, 71) !important;
}

.red-words {
  color: rgb(235, 38, 38) !important;
}
.stock-consumeNum {
  position: relative;
}
.stock-consumeNum::before {
  content: "";
  position: absolute;
  bottom: 20px;
  left: -27px;
  border-bottom: 20px solid white;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}
