.hello {
  color: pink;
}

.marquee-container,
.marquee-right-container {
  width: 100%;
  height: 200px;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
}
.marquee-container .marquee-wrap {
  display: block;
  animation: scroll 10s infinite linear;
  -webkit-animate: scroll 10s infinite linear;
  margin: 70px 0;
  position: absolute;
}
.marquee-container .marquee-wrap span {
  float: left;
  width: 50%;
}
.marquee-container .marquee-wrap .marquee-item {
  display: inline-block;
  font-size: 80px;
  color: #fff;
  float: left;
  transition: all 0.2s ease-out;
}
.marquee-right-container .marquee-item {
  display: inline-block;
  padding-left: 100%;
  font-size: 80px;
  color: #fff;
  animation: scrollRight 10s infinite linear;
  -webkit-animate: scrollRight 10s infinite linear;
}

@keyframes scroll {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

@keyframes scrollRight {
  0% {
    transform: translate(-100%, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
