.stock-item,
.stock-item-copy {
  display: inline-block;
  color: white;
  height: 128px;
  margin-right: 50px;
}
.stocks-container {
  background: #111;
  height: 128px;
  width: 100%;
  position: relative;
}
.stock-item-wrap {
  display: flex;
}
.stock-title-box {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.stock-no {
  font-size: 25px;
  line-height: 25px;
  font-weight: 600;
  text-align: left;
  color: white;
  margin-bottom: 10px;
}
.stock-box {
  position: absolute;
  width: 100%;
  overflow: visible;
  text-align: start;
  /* white-space: nowrap; */
  animation: marquee 20s linear infinite;
}
.stock-title {
  font-size: 90px;
  line-height: 80px;
  font-weight: 900;
  color: white;
}
.stock-data {
  height: 128px;
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}
.price-and-num {
  display: flex;
}
.change-num,
.price-and-num {
  flex: 1;
  line-height: 64px;
  font-size: 35px;
  font-weight: 600;
}
.stock-price {
  margin-right: 40px;
}
.pic-box {
  width: 135px;
}

.green-words {
  color: rgb(66, 213, 71) !important;
}

.red-words {
  color: rgb(235, 38, 38) !important;
}
.stock-consumeNum {
  position: relative;
}
.stock-consumeNum::before {
  content: "";
  position: absolute;
  bottom: 20px;
  left: -27px;
  border-bottom: 20px solid white;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}

@keyframes marquee {
  0% {
    left: 4243px;
  }
  100% {
    left: -4243px;
  }
}
